{% extends "main.html" %}
{% load staticfiles %}
{% block content %}
    <div class="text-center mb-4">
          <h1 class="h3 mb-3 font-weight-normal">Создание статьи</h1>
          <p>Создайте статью и опубликуйте ее на нашем сайте</p>
    </div>
    <form action="/create/article/" method="post" enctype="multipart/form-data" >
        {% csrf_token %}
        <div class="text-center mb-4" >
            <div class="form-label-group mb-3">
                <label>Название статьи:</label>
                <h3><input type="text" maxlength="25" size="40" name="name" id="name"></h3>
            </div>
            <div class="form-label-group mb-3">
                <label>Изображение для статьи :</label>
                {{form}}
            </div>
            <div class="form-label-group mb-3">
                <label>Краткое описание:</label>
                <h5><input type="text" maxlength="70" size="90" name="description" id="description"></h5>
                <label for="description">(Напишите тему статьи чтобы превлечь внимание читателей)</label>
            </div>
            <div>
                <label>Текст статьи: </label>
                <h5><textarea rows="27" cols="110" name="text" id="text"></textarea></h5>
                <label for="text">(Если вы закончили писать статью перепроверьте на наличие ошибок)</label>
            </div>
        </div>
        <div class="center">
            <div class="checkbox mb-3">
              <label>
                    <input type="checkbox" value="remember-me">Подтвердить
              </label>
            </div>
            <button class="btn btn-secondary btn-lg btn-block" type="submit">Создать статью</button>
        </div>
    </form>
{% endblock %}