{% extends "main.html" %}

{% block content %}
    <form action="/auth/login/" method="post" >
    {% csrf_token %}
    <div class="text-center mb-4">
          <h1 class="h3 mb-3 font-weight-normal">Войти</h1>
          <p>Войдите для дальнейшей работы</p>
          <p style="color: green">{{form}}</p>
    </div>
    <div class="center">
          <div class="form-label-group mb-4">
              <input type="text" id="username" name="username" class="form-control" placeholder="Your name">
          </div>
          <div class="form-label-group mb-3">
               <input type="password" id="password" name="password" class="form-control" placeholder="Password" required="" autofocus="">
              Забыли пароль? <a href="{% url 'pass-reset' %}"> Восстановить</a>
          </div>
          <div class="checkbox mb-1">
              <label>
                    <input type="checkbox" value="remember-me"> Remember me
              </label>
          </div>
          {% if login_error %}
               <label class="error">{{login_error}}</label>
          {% endif %}
          <button class="btn btn-secondary btn-lg btn-block" type="submit">Sign in</button>
    </div>
    </form>
{% endblock %}
